@import "./BaseLayout.scss";

.CharactersPage {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
}

.CharactersList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > article {
    margin: 10px;
  }
}
