.Leaderboard {
  text-align: center;
  margin-bottom: 50px;

  > h1 {
    font-weight: 400;
  }

  > article {
    display: grid;
    max-width: 330px;
    grid-template-columns: 1fr 30px 1fr;
    margin: 10px auto;
    align-items: center;
    grid-column-gap: 15px;

    > h1 {
      font-size: 0.8rem;
      font-weight: 300;
      text-align: left;
      margin: 0;
    }
    > span {
      display: block;
      justify-self: end;
    }
    > img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
